@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	line-height: 1.5;
	font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

/* NORMALIZE CSS END */

html {
	height: 100%;
}

body {
	color: white;
	font-family: 'Roboto', sans-serif;
	--base-small-font: clamp(0.5rem, 2vw + 0.15rem, 1.25rem);
	--base-big-font: clamp(0.75rem, 3vw + 0.4rem, 2rem);
	font-size: var(--base-small-font);
	background: linear-gradient(#504f4f, #070707);
	min-height: 100%;
}



#page-container {
	display: flex;
	justify-content: center;
	padding: 1.5rem;
}

#form-container {
	display: flex;
	text-align: center;
	flex-flow: column;
	align-items: center;
	padding: 1.5rem;
	border: 2px solid #f5c518;
	border-radius: 20px;
	gap: 2rem;
	max-width: 700px;
	min-width: 300px;
	min-height: 700px;
	background-color: rgba(255, 255, 255, 0.1);
	transition: opacity 2s;
}



.checkbox-button {
	padding: 0.3rem;
	border: 0.05rem solid #f5c518;
	border-radius: 15px;
	flex: 1 1;
	transition: 0.3s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.checkbox-button:hover {
	background-color: #7a7676;
}

.checkbox-button:has(> input:checked) {
	background-color: #1b1b1b;
}


input[type=checkbox] {
	display: none;
}

.checkbox-container {
	justify-content: center;
	display: grid;
	gap: 0.5rem;
}

#content-type-container {
	font-size: var(--base-big-font);
	grid-template-columns: 1fr 1fr;
}

#content-type-container>.checkbox-button {
	font-weight: 500;
	flex: 1;
}

#genre-container {
	font-size: var(--base-small-font);
	gap: 0.4rem;
	grid-template-columns: 1fr 1fr 1fr;
}

#rating-slider-container {
	margin-top: 2rem;
	align-self: center;
	width: 70%;
}


#submit-reset-container {
	display: flex;
	flex-flow: column;
	width: 100%;
	align-items: center;
	margin-top: auto;
}

#submit-button {
	background: linear-gradient(#daab02, #f0cb44);
	color: white;
	font-size: var(--base-big-font);
	border-radius: 15px;
	margin: 0.5rem;
	padding: 0.5rem;
	transition: 0.3s;
}

#submit-button:hover {
	opacity: 0.8;
}

#reset-button {
	align-self: flex-end;
	border: 0.05rem solid rgba(245, 197, 24, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.6);
}

#rating-slider .noUi-tooltip {
	color: white;
	border: none;
	background: none;
}




/* .animation#form-container>* {
	animation: fade-out 0.5s 1, 0.5s fade-in 0.5s forwards;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
} */