:root {
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

/* NORMALIZE CSS END */


#page-container {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	padding: 1rem;
}

#form-container {
	display: flex;
	text-align: center;
	flex-flow: column;
	align-items: center;
	gap: 2rem;
	max-width: 700px;
}

.checkbox-button {
	padding: 0.1rem 0.2rem;
	border: 0.05rem solid #f5c518;
}

.checkbox-button:has(> input:checked) {
	background-color: blue;
}


input[type=checkbox] {
	display: none;
}

.checkbox-container {
	justify-content: center;
	display: flex;
	gap: 0.5rem;
}

#content-type-container {
	width: 90%;
}

#content-type-container>.checkbox-button {
	flex: 1;
}

#genre-container {
	width: 60%;
	font-size: 0.5rem;
	gap: 0.2rem;
	flex-wrap: wrap;
}

#rating-slider-container {
	margin-top: 1.5rem;
	align-self: center;
	width: 70%;
}