body {
  background-color: transparent;
  font-family: 'Roboto', Arial, sans-serif;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group .slider {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-group .slider-data {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
}

.form-group .rating-data {
  background-color: #4285F4;
  color: #fff;
}

.form-group .votes-data {
  background-color: #DB4437;
  color: #fff;
}

.form-group .year-data {
  background-color: #F4B400;
  color: #fff;
}



.checkbox-group {
  margin-bottom: 5px;
  width: 26%;
}

.checkbox-group label {
  display: inline-block;
  margin-right: 10px;
}

.slider-value-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-value {
  font-size: 16px;
  font-weight: bold;
  background-color: #337ab7;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
}

.ui-slider-handle:before {
  content: attr(data-value);
}

.ui-slider-handle {
  position: relative;
  z-index: 2;
}

.checkbox-container {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.checkbox-column {
  width: 25%;
}
@media (max-width: 767px) {
  .container {
    max-width: 70%;
    padding: 20px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.submit-btn {
  background-color: #4CAF50; /* Set the background color */
  border: none; /* Remove the border */
  color: white; /* Set the text color */
  padding: 10px 20px; /* Add padding around the text */
  font-size: 16px; /* Set the font size */
  cursor: pointer; /* Add a pointer cursor on hover */
  border-radius: 4px; /* Add rounded corners */
}

.submit-btn:hover {
  background-color: #45a049; /* Change the background color on hover */
}

.dropdown-checkbox {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.dropdown-menu {
  z-index: 9999;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 200px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.dropdown-item input[type="checkbox"] {
  margin-right: 8px;
}

.dropdown-item label {
  font-size: 14px;
}

.multi-select-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.chip {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  margin-right: 8px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.chip .chip-label {
  margin-right: 4px;
}
.dropdown-textbox {
  padding-top: 10px;
  display: inline-block;
}
.dropdown-textbox .dropdown-toggle {
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}
.dropdown-textbox.show .dropdown-menu {
  display: block;
}
.dropdown-textbox .dropdown-item {
  display: flex;
  margin-bottom: 4px;
}
.dropdown-textbox .dropdown-item input[type="text"] {
  margin-right: 8px;
}
.dropdown-textbox .dropdown-item label {
  font-size: 14px;
}
.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  text-transform: uppercase;
}
.slider-container {
  margin-bottom: 20px;
}
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 100%;
}
.dropdown-textbox .dropdown-toggle {
  color: #333333; /* Change the color code to the desired color */
}
.content-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  color: #FFF;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content-overlay h2 {
  margin-top: 0;
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.content-overlay p {
  margin: 10px 0;
}

.button-container .button {
  margin: 0 10px;
  cursor: pointer;
}

.button-container img {
  max-height: 100px;
}

/* Added styles */
.button-container-bottom {
  display: flex;
  justify-content: center; /* Align items with space between them */
  padding-top: 20px;
}
.button-container-top {
  justify-content: left;
  margin:-40px -15px 0;
  padding-bottom: 30px;
}
/* Add the textured effect using a CSS pseudo-element */
.go-back-button {
  position: relative; /* Set position to relative to allow pseudo-element positioning */
  color: #FFF; /* Set the text color of the button to white */
  text-transform: uppercase; /* Make the button text uppercase */
  overflow: hidden; /* Hide overflowing pseudo-element content */
  font-size: 12px;
  font-family: "Segoe UI Emoji", sans-serif;
  text-decoration: none;
  background-color: #4e555b;
}

.go-back-button::before {
  content: ""; /* Required for the pseudo-element to appear */
  position: absolute;
  top: -10px; /* Adjust the positioning of the pseudo-element */
  left: -10px;
  transform: translate(-50%, -50%);
  width: calc(100% + 20px); /* Extend the width to cover the button */
  height: calc(100% + 20px); /* Extend the height to cover the button */
  z-index: -1; /* Set a negative z-index to position the pseudo-element behind the button content */
}


.box1 {
  padding-top: 15px;
  display: inline-block;
  float: right;
}

.box2 {
  padding-top: 40px;
  text-align: center;
  flex: 1; /* Take up available space */
}
.reset-btn {
  overflow: hidden;
  font-size: 10px;
  padding-right: -20px;
}


